.App {
  height: 100vh;
  background-image: linear-gradient(#FF9F4A , #FF3C83);
  text-align: center;
}

.home{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Room{
  background-color: #f5f5dc;
  height: 100vh;
}

.btn{
  background-color: #EF5354;
  cursor: pointer;
  width: 25vw;
  height: 45px;
  border-radius: 10px;
  font-size: 20px;

}

.box{
  width: 25vw;
  height: 40px;
  border-radius: 10px;
}

.hero{
  height: 100vh;
}

.containtBox{
  width: 30vw;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon{
  height: 120px;
}

@media only screen and (max-width: 600px){
  .home{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
  }

  .containtBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    height: 350px;
    padding-bottom: 25px;
  }
  .hero{
    height: 350px;
    width: 100vw;
  }
  .icon{
    padding-top: 30px;
    height: 100px;
  }
  .box{
    width: 50vw;
    height: 40px;
    border-radius: 10px;
    
  }

  .btn{
    background-color: #EF5354;
    cursor: pointer;
    width: 50vw;
    height: 45px;
    border-radius: 10px;

    
  
  }
}